/* body {

    background-image: url(money.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    text-align: center;

    font-weight: 1000;
    font-style: normal;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    text-align: center;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
    color: white;

}

table {
    margin-left: 430px;
    text-align: justify;
    font-size: small;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;

}

form {
    margin-left: 250px;
}

.button {
    background-color: blue;
    border: 150;
}

.logo {
    margin-top: 20px;
    margin-left: 500px;
} */